/* .filter-container {
        font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          min-height: 1vh;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          background: inherit;
          align-items: baseline;
} */
/* 
.sidebar {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.browse-content {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;

}


h1#title {
  padding: 2em 0;
}

.widget {
  font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.198em;
  padding: 0.75rem 1.25rem;
  width: 30%;
  height: 50%;
  color: var(--gold);
  background-color: var(--black);
  border-radius: 2px;
  box-shadow: 0 3px 6px var(--black-shadow);
  margin-left: 2px;
}

.widget h2 {
  background-color: var(--gold);
  color: var(--black);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-top: -0.75rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  padding: 0.75rem 1.25rem;
  text-align: center;
  cursor: default;
}

.widget form label {
  width: 100%;
  text-align: center;
  line-height: 2em;
}


.widget form input {
  max-width: 10em;
}

.form-group span {
  color: var(--gold);
}

.form-group input,
select {
  background-color: var(--gold);
  border-radius: 8.6em;
}

input, select {
  padding-left: 10px;
  border: none;

  font-size: 15px;
  height: 20px;
}

input[type="checkbox"] {
  
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}


input[type="checkbox"] {
  appearance: none;
  background-color: var(--black);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: inline-flex
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type="checkbox"]::before {
  content: "";
  margin-left: -10px;
  width: 0.95em;
  height: 0.95em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: 200px 200px 400px 200px var(--gold) inset;
-webkit-box-shadow: 200px 200px 400px 200px var(--gold) inset;
-moz-box-shadow: 200px 200px 400px 200px var(--gold) inset;

  background-color: CanvasText;

}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}


#user_age_handler_min,
#user_age_handler_max {
  width: 3em;
  margin-left: -1.5em;
  height: 1.6em;
  top: 50%;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
}

.widget a {
  padding: 8px;
  border: 1px solid var(--gold);
  border-radius: .24em;
  color: var(--gold);
  transition: all ease-in-out .2s;
}

.widget a:hover {
  cursor: pointer;
  color: var(--black);
  /* border: 1.2px solid var(--gold); */
  /* font-weight: 600; */
  background-color: var(--gold);
}

.form-group:last-child {margin-top:1em}
.form-group {margin: .7em 0}



@media screen and (min-width:2000px) {

  .cards_item {
    padding: 0;
    flex-basis: 6,55%!important;
  }
  
}


@media screen and (min-width:1800px) {

  .widget {width: 20%;margin: 0 0 5em 0}
  input, select {width: 50%;height: 30px;font-size: 17px;}

}


@media screen and (max-width:1200px) {

  .browse-content {display: block;}

  .widget {width: 100%;margin: 0 0 5em 0}
  input, select {width: 50%;height: 30px;font-size: 17px;}
  
  
}

@media screen and (max-width:400px) {
  h1#title {line-height: calc(1em + 10px);}
  .widget{margin-bottom: 20px;}
  .cards_item {padding: 0;}
}