    .card * {
      font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 250px;
      margin: auto;
      text-align: center;

      transition: box-shadow 0.3s ease;
    }

    .card:hover {
      box-shadow: 0 0 9px var(--black-shadow)
    }

    .card h1 {
      font-weight: 500;
      padding: 10px;
    }

    .card img {
      max-height: 370px;
      width: 100%;
    }

    .price {
      color: grey;
      font-size: 22px;
    }

    .contributor {
      text-align: left;
      color: grey;
      padding-left: 1.5em;
    }

    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: var(--white);
      background-color: var(--black);
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    .card button:hover {
      color: var(--black);
      background-color: var(--gold);
    }



    /* GRID */


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  flex-basis: 25%;
  padding: .89rem;
}

@media (max-width: 1000px) {
  .cards_item {
    flex-basis: 33.3%;
  }
}

@media (max-width: 856px) {
  .cards_item {
    flex-basis: 50%;
  }
}

@media (max-width: 526px) {
  .cards_item {
    flex-basis: 100%;
  }
  .card {max-width: 70%;}
}