
  .carousel-wrapper{
    width:100%;
    padding-top: 20px;
    padding-bottom: 5em;
    margin-bottom: -10em;
    text-align:center;
    background-color: var(--black);
  }
  .carousel-wrapper h2{
    font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: var(--gold);
  }
  .carousel{
    width:75%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width: 100%;
    border: 2px solid var(--gold);
  }

  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .img-overlay:hover {
    opacity: 1;
  }
  
  .img-text {
    color: white;
    font-size: 20px;
    position: relative;
    /* top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; */
  }


  .wrapper .slick-dots li button:before {
    font-size:20px;
    color:var(--gold);
  }

  .slick-dots {bottom: -40px;}

  .slick-dots *::before {
    color: #fff !important;
  }

  .wave {display: none !important;}