@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

h1#title {
    line-height: normal;
}

.wrapper img {
    width: 90%;
    transition: all 200ms;
    border: 1px solid var(--black);
    border-radius: 50%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 960px;
    margin: 0 auto 5.9em;
}

/* .wrapper {
    width: 100%;
    text-align: center;
    align-items: center;
    gap: 0;
} */

.col-1-2 {
    float: left;
    width: 50%;
}

.contributor-wrap {
    margin: 0 auto;
    width: 350px;
}

.contributor-wrap .contributor-cover {
    padding-top: 30px;
    transition: all 0.5s ease;
}

.contributor-wrap .contributor-cover:hover {
    transform: scale(1.1);

}

.contributor-cover img:hover {
    box-shadow: 0 22px 70px 3px rgba(51, 51, 85, 0.671);
}


.contributor-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contributor-info h2 {
    padding-bottom: 15px;
    font-size: 32px;
    border-bottom: 1px solid #d9d9d9;
}

.contributor-info .desc {
    margin-top: 25px;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6;
}

.contributor-info .info-list {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    padding: 0px;
    list-style-type: none;
}

.contributor-info .info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 10px 15px;
    border: 1px solid #c2c2c2;
    cursor: default;
}

.info h3 {
    color: var(--black);
    font-weight: 500;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}

.info p {
    color: var(--dark-gold);
    cursor: default;
}


.button {
    display: inline-block;
    margin-top: 35px;
    padding: 12px 25px;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--black);
    color: var(--gold);
    transition: 0.25s ease;
}

.button:hover {
    background-color: var(--gold);
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap: 15px;
}

.contact p {
    font-size: 1.579em;
    font-family: 'Poppins';
}



@media screen and (max-width: 980px) {

    .wrapper {
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        gap: 0;
    }

    .contributor-wrap {
        margin-bottom: 5em;
    }

    /* .col-1-2 {width: 80%; float: none;} */

    .contributor-wrap .contributor-cover:hover {
        transform: none;

    }

    h1#title {
        padding: 2em 0 1em 0;
    }

    .contributor-cover img:hover {
        box-shadow: none;
    }

    .col-1-2 {
        width: 100%;
        float: none;
    }


    .contributor-info .info-list,
    .contact {
        justify-content: center
    }

    .contributor-info {
        padding: 0 10%
    }
}


@media screen and (max-width: 680px) {
    h1#title {
        padding-top: 2em;
    }
}