/* HERO HEADER */



/* header {
    position: sticky;
    top:0;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    background: var(--glass-bg-color);
    box-shadow: var(--glass-bg-shadow);
    backdrop-filter: var(--glass-bg-backdrop-filter);
    -webkit-backdrop-filter: var(--glass-bg-backdrop-filter);
    border-radius: var(--glass-bg-border-radius);
    border: var(--glass-bg-border);

}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

header ul li {
    margin: 0 1rem;
}

header .logo {
    margin-left: var(--margin-l-r);
}

header .power-switch {
    margin-right: var(--margin-l-r);
}

header .logo * {
    color: var(--main-txt);
}

header .logo .pri {
    color: var(--main-color);
}

header .logo .sec {
    color: var(--main-link-hover);
} */



#top {
    color:#fff;
    height: 62vh;
    width: 100%;
    position: relative;
    background-image:url(../images/header/pexels-ron-lach-9539789.jpg);
    /* url(https://images.pexels.com/photos/5845008/pexels-photo-5845008.jpeg?auto=compress&cs=tinysrgb&w=1600; url(https://images.pexels.com/photos/4380880/pexels-photo-4380880.jpeg?auto=compress&cs=tinysrgb&w=1600)  url(https://images.pexels.com/photos/7034697/pexels-photo-7034697.jpeg?auto=compress&cs=tinysrgb&w=1600); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #top a {
    padding: 8px;
    border: 1px solid var(--black);
    border-radius: .24em;
    color: var(--black);
  }

  #top a:hover {
    cursor: pointer;
    color: var(--gold);
    border: 1.2px solid var(--gold);
    font-weight: 600;
    background-color: var(--black);
  }



  header {
    text-align: right;
    float: right; 
    font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
    position: relative;
    height: 200px;
    max-width: 960px;
    padding-top: 12em;
    padding-right: 10em;
    /* margin-right: auto;
    margin-left: auto; */
  }
  
  header h1 {
    font-size: 3em;
    /* text-shadow: 4px 4px 9px rgba(15, 15, 15, 1); */
    line-height: .5em;
  }
  
  header h2 {
    font-size: 1,6em;
    /* text-shadow: 5px, 5px, 9px, rgba(0,0,0,0.3); */
    line-height: 1em;
  }

  header h1, header h2 {color: var(--black);letter-spacing: -1px;}


  /* Media Query for small screens */

@media (max-width: 1000px) {
  header {display: block;padding-right: 2em;margin: 0;float: none;}
}

@media (max-width: 768px){
  #top {
    background-image: none;
    background-color: #ececec; 
  }

  header {
    text-align: center;
    float: none;
    /* margin-top: 5em; */
  }

  header h1 {
    text-align: center;
    margin: 0;
    padding-top: 0;
    line-height: normal;
  }
}

/* Media Query for small height */
@media (max-height: 650px) {
  header {
    padding-top: 4.5em;
    font-size: 1rem;
  }

}

@media (max-height: 600px) {
    
    header {
    padding-top: 6.5em;
    font-size: .7rem;
  }
}

@media (max-height: 450px) {
  #top {
    background-image: none;
    background-color: #ececec; 
    height: 70vh;
  }

  header {
    text-align: center;
    float: none;
    padding-top: 7em;
    padding-right: 0;
    display: block;
    max-width: 100%;
  }

  header h1 {
    text-align: center;
    margin: 0;
    padding-top: 0;
    line-height: normal;
    font-size: 3rem;
  }

}