nav {
    font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 99;
    background: #ffffff71;
    /* box-shadow: 0 8px 32px 0 rgba(85, 83, 83, 0.37); */
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter: blur(20.5px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 0 100px;

    transition: border-color 0.3s ease-in-out;
}

.nav-border {
    border-bottom: 1px solid var(--gold);
}

.nav-dark {
    background: rgba(51, 51, 85, 0.877);
    /* box-shadow: 0 8px 32px 0 rgba(85, 83, 83, 0.37); */
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter: blur(20.5px);
}

.nav-dark *,
.nav-dark form .search-data,
.nav-dark .logo a, .nav-dark .inner-logo a,
.nav-dark .nav-items li a
{
    color: var(--white) !important;
}

.nav-dark .cart .dropdown-menu {background: var(--black-shadow);}

.nav-dark .nav-items li a:hover {
    color: var(--gold) !important;
}

.nav-dark form.active {
    background-color: var(--black);
}

.nav-dark form.active input {
    color: var(--gold);
}

.nav-dark form.active::after {
    background-color: var(--black);
}

.nav-dark form.active::before{
    color: var(--black);
}

.nav-dark form button:hover {
    color: var(--black) !important;
    background-color: var(--gold);
}

.nav-dark form button {
    color: var(--gold);
    background-color: transparent;
}

nav .inner-logo,
.logo {
    color: #333;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}


nav .inner-logo a,
.logo a {
    color: #333 !important;
}


nav .nav-items {
    display: flex;
    flex: 1;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}

nav .nav-items li a {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: rgba(54, 53, 53, 0.377);
}

nav form {
    display: flex;
    height: 40px;
    padding: 1px;
    background: transparent;
    max-width: 30% !important;
    min-width: 10%;
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #333;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button {
    padding: 0 15px;
    color: var(--white);
    font-size: 17px;
    background: #333;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

nav form button:hover {
    background: var(--white);
    color: #333;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: var(--white);
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

.nav-items {
    display: flex;
    align-items: center;
    padding-right: 10px;

}

.nav-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 1147px) {

    nav ul {
        display: flex;
        justify-content: space-between ;
        
    }

    

    .inner-logo {
        display: inherit;
    }

    .logo {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-items {
        display: flex;
        gap: 10px;
    }

    .form-container {
        display: flex;
        /* align-items: center; */
    }

}

@media (max-width: 1245px) {

    nav {
        padding: 0 50px;
    }

}

@media (max-width: 1150px) {
    nav {
        padding: 0px;
    }

    .logo {display: block;}
    .inner-logo {display: none;}

    nav .logo {
        flex: 2;
        text-align: center;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: rgba(51, 51, 85, 0.877);
        /* box-shadow: 0 8px 32px 0 rgba(85, 83, 83, 0.37); */
        backdrop-filter: blur(20.5px);
        -webkit-backdrop-filter: blur(20.5px);
        /* border: 1px solid rgba(255, 255, 255, 0.18); */
        display: inline-block;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0px;
    }

    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }

    nav .nav-items li a {
        font-size: 20px;
    }

    nav form {
        position: absolute;
        top: 80px;
        right: 3.9em;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }

    nav form.active {
        top: 4.755em;
        opacity: 1;
        pointer-events: auto;
    }

    nav form:before {
        position: absolute;
        content: "";
        top: -10px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: var(--dark);
        margin: -20px 0 0;
    }

    nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 5px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    nav .menu-icon {
        display: block;
    }

    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }

    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }

    nav .cancel-icon.show {
        display: block;
    }

}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.space {
    margin: 10px 0;
}



@media (max-width: 1142px) {

    nav form .search-data {
        color: var(--white);
    }

    nav .nav-items li a {
        color: var(--white);
    }

    nav .nav-items li a:hover {
        color: var(--gold);
    }

    .searchbar {
        display: none;
    }

}

@media (max-width: 980px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }

    nav form {
        right: 30px;
    }
}

@media (max-width: 350px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 16px;
    }
}