@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.notification-card {
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 14px;
    color: #50545e;
    background: #ffffff71;
    backdrop-filter: blur(29.5px);
    -webkit-backdrop-filter: blur(20.5px);
    border: 1px solid #bec0c5;
    box-shadow: 0px 2px 8px rgba(32, 37, 50, 0.08), 0px 2px 4px rgba(32, 37, 50, 0.03);
    border-radius: 6px;
    width: 360px;
    transition: all 0.3s;
}

.notification-card .title h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #838791;
    flex-grow: 1;
}

.notification-card .close {
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    width: 24px;
    height: 24px;
    align-items: center;
    color: #50545e;
    justify-content: center;
    transition: 0.2s ease;
}

.notification-card .close svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.notification-card .close:hover {
    background: #9b9b9b9d;
}


.notification-card h2,
.notification-card h3,
.notification-card h4,
.notification-card h5 {
    margin-bottom: 8px;
}

.notification-card h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #202532;
    margin-bottom: 8px;
}

.notification-card h4 {
    font-weight: 600;
    /* font-size: 14px; */
    line-height: 20px;
    color: var(--black);
}

.notification-card p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: inherit;
}

.notification-card .notification-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.notification-card.row .notification-card-content {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 100%;

}

.notification-container {
    position: fixed;
    top: 75px; /* 5px after navbar */
    right: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.notification-card.row .notification-card-content .content {
    flex-grow: 1;
    gap: 8px;
}

.notification-card.dark {
    background: rgba(51, 51, 85, 0.877);
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter: blur(20.5px);
    color: #fff;
}

.notification-card.dark .notification-card-header {
    align-items: flex-start;
}

.notification-card.dark .icon {
    margin-right: 1rem;
}

.notification-card.dark .close {
    color: #fff;
}

.notification-card.dark .close:hover {
    background: var(--gold);
    color: var(--black);
}

.notification-card.dark .content {
    flex: 1;
}

.notification-card.dark .content a:hover {
    color: var(--gold);
}

.notification-card.dark .content .title h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    letter-spacing: 0.2px;
    color: var(--gold);
    flex-grow: 1;
}

.notification-card.dark .content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.72);
}

.notification-card.dark .content a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}

.card-content  {
    position: relative;
    top: unset;
    left:unset;
    text-align: initial;
    transform: none;
}
/* had problems with navbar.css -> .card */

* {
    box-sizing: border-box;
}