@font-face {
    font-family: SF Pro Display Regular;
    src: url('../media/font/SFProDisplay-Regular.ttf');
  }
  
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



  
  

/* body {
	background: rgb(31, 30, 52);
	background: -moz-linear-gradient(
		112deg,
		rgba(31, 30, 52, 1) 7%,
		rgba(61, 9, 121, 1) 38%,
		rgba(235, 0, 255, 1) 100%
	);
	background: -webkit-linear-gradient(
		112deg,
		rgba(31, 30, 52, 1) 7%,
		rgba(61, 9, 121, 1) 38%,
		rgba(235, 0, 255, 1) 100%
	);
	background: linear-gradient(
		112deg,
		rgba(31, 30, 52, 1) 7%,
		rgba(61, 9, 121, 1) 38%,
		rgba(235, 0, 255, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1f1e34,endColorstr=#eb00ff,GradientType=1);
} */



:root {
    --main-bg: rgba(245, 245, 245, 1);
    --main-bg-80: rgba(245, 245, 245, .8);
    --main-txt: rgb(22, 22, 22);
    --main-link: rgb(119, 119, 121);
    --main-link-hover: var(--main-txt);
    --heart-color: var(--main-color);
    --main-color: #1abc9c;
    --main-color-alt: #333;
    --white: #fff;
    --black: #335;
    --header-height: 60px;
    --margin-l-r: 12.5vw;


    --title-color: rgb(22, 22, 22);
    --body-bg-color: #e5ecef;
    --theme-bg-color: #fafafb;
    --body-font: "SF Pro Display Regular", sans-serif;
    --body-color: #2f2f33;
    --active-color: #0162ff;
    --active-light-color: #e1ebfb;
    --header-bg-color: #fff;
    --search-border-color: #efefef;
    --border-color: #d8d8d8;
    --alert-bg-color: #e8f2ff;
    --subtitle-color: #83838e;
    --inactive-color: #f0f0f0;
    --placeholder-color: #9b9ba5;
    --time-button: #fc5757;
    --level-button: #5052d5;
    --button-color: #fff;

    --glass-bg-color: background: rgba( 248, 248, 248, 0.25 ); /* Seems wrong, but works better that expected */
    --glass-bg-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    --glass-bg-backdrop-filter: blur( 13.5px );
    --glass-bg-border-radius: 10px;
    --glass-bg-border: 1px solid rgba(133, 133, 133, 0.18);
    --glass-footer-border: 1px solid rgba( 255, 255, 255, 0.18 );


    --scrollbar-track-color: #F5F5F5;
    --scrollbar-thumb-color: #D4D4D4;
    --scrollbar-thumb-hover-color: #A9A9A9;
    --scrollbar-thumb-border-color: #F5F5F5;

    --scrollbar-thumb-border-width: 3px;
    --scrollbar-thumb-border-radius: 6px;
    --scrollbar-width: 13px;


}




* {
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html, body {
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    padding: 0;
    margin: 0;
}

body {
    background: var(--main-bg);
    font-weight: 400;
    font-family: "SF Pro Display Regular", Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--main-txt);
    position: relative;
}






a {
    padding: .3rem;
    text-decoration: none;
    color: var(--main-link);
    border-bottom: 1px solid transparent;
}

p.active {
    font-size: 2em;
    font-weight: 800;
    color: var(--title-color);

    transition: color 0.5s ease;
}

p.scrolled {
    color: var(--main-color);
  }

a:hover {
    color: var(--main-link-hover);
}

h1, h2, span {
    color: var(--main-link-hover);
}

h1 {
    font-size: 2.875rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}

h3 {
    color: var(--main-link);
}

h3 i {
    margin-right: 8px;
}

.m {
    margin: 1rem;
}

.m-t-1 {
    margin-top: 1rem;
}

.m-t-2 {
    margin-top: 1rem;
}

p.m-t-2 {
    color: var(--body-color);
}

.mb-1 {
    margin-bottom: .25rem;
}
.mb-2 {
    margin-bottom: .5rem
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.ml-1 {
    margin-left: .25em;
}

/* header {
    position: sticky;
    top:0;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    background: var(--glass-bg-color);
    box-shadow: var(--glass-bg-shadow);
    backdrop-filter: var(--glass-bg-backdrop-filter);
    -webkit-backdrop-filter: var(--glass-bg-backdrop-filter);
    border-radius: var(--glass-bg-border-radius);
    border: var(--glass-bg-border);

}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

header ul li {
    margin: 0 1rem;
}

header .logo {
    margin-left: var(--margin-l-r);
}

header .power-switch {
    margin-right: var(--margin-l-r);
}

header .logo * {
    color: var(--main-txt);
}

header .logo .pri {
    color: var(--main-color);
}

header .logo .sec {
    color: var(--main-link-hover);
} */



#top {
    color:#fff;
    height: 62vh;
    width: 100%;
    position: fixed;
    background-image:url(../images/header/pexels-ron-lach-9539789.jpg);
    /* url(https://images.pexels.com/photos/5845008/pexels-photo-5845008.jpeg?auto=compress&cs=tinysrgb&w=1600; url(https://images.pexels.com/photos/4380880/pexels-photo-4380880.jpeg?auto=compress&cs=tinysrgb&w=1600)  url(https://images.pexels.com/photos/7034697/pexels-photo-7034697.jpeg?auto=compress&cs=tinysrgb&w=1600); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #top button {
    padding: 8px;
  }

  #top button:hover {
    cursor: pointer;
  }


  header {
    text-align: right;
    float: right; 
    font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    height: 200px;
    max-width: 960px;
    padding-top: 12em;
    padding-right: 10em;
    /* margin-right: auto;
    margin-left: auto; */
  }
  
  header h1 {
    font-size: 3em;
    /* text-shadow: 4px 4px 9px rgba(15, 15, 15, 1); */
    line-height: .5em;
  }
  
  header h2 {
    font-size: 1,6em;
    /* text-shadow: 5px, 5px, 9px, rgba(0,0,0,0.3); */
    line-height: 1em;
  }

  header h1, header h2 {color: var(--black);}






#about {
    position: relative;
    padding: 0 var(--margin-l-r) 0 var(--margin-l-r);
    margin: 0;
    z-index: 0;
    background: var(--main-bg);
}

#about .landing {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#about .landing .left,
#about .landing .right {
    width: 45%;
    min-width: 300px;
    height: 100%;
}

/* #about .landing .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} */

#about .landing .left h1 {
    margin-top: 50px;
    margin-bottom: 0.8em;
}

#about .landing .right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: var(--margin-l-r);
    top: 10%;
}


.shape {
    margin: 50px auto;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    background: var(--main-txt);
    background-image: linear-gradient(45deg, var(--main-txt) 0%, var(--main-txt) 100%);
    border-radius: 30% 70% 66% 34%/30% 30% 70% 70%;
    -webkit-animation: fluid 20s ease-in-out;
    animation: fluid 15s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    z-index: -1;
}
#text {
    padding-left: var(--margin-l-r);
    padding-right: var(--margin-l-r);
}


.search-buttons {
    border: none;
    color: var(--button-color);
    background-color: var(--heart-color);
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 14px;
}

/* .text-cards {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    -webkit-animation: slideY 0.6s both;
    animation: slideY 0.6s both;
}
@media screen and (max-width: 1212px) {
    .text-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 930px) {
    .text-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.text-card {
    margin: 5em 0;
    padding: 20px 16px;
    background-color: var(--header-bg-color);
    border-radius: 8px;
    transition: 0.2s;

    border: var(--glass-bg-border);
}
.text-card:hover {
    transform: scale(1.02);
}
.text-card svg {
    width: 46px;
    padding: 10px;
    border-radius: 8px;
}
.text-card-title {
    font-weight: 600;
    margin-top: 16px;
    font-size: 14px;
}
.text-card-content {
    color: var(--body-color);
    font-family: "SF Pro Display Regular", Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    margin-top: 14px;
    line-height: 1.6em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-card-content img {
    border-radius: 3%;
    border: var(--glass-bg-border);
    max-width: 80%;
}

.text-card-header {
    display: flex;
    align-items: flex-start;
}

.detail-button {
    background-color: var(--active-light-color);
    color: var(--active-color);
    font-size: 11px;
    font-weight: 500;
    padding: 6px 8px;
    border-radius: 4px;
}

.detail-button + .detail-button {
    margin-left: 4px;
}

.text-card-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4px;
}

.card-buttons,
.card-buttons-msg {
    padding: 10px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
}

.card-buttons {
    margin-right: 12px;
}

.card-buttons-msg {
    background-color: var(--inactive-color);
    color: var(--subtitle-color);
} */


footer {
    position: relative;
    height: 100px;
    background: var(--main-bg);
    border-top: var(--glass-footer-border);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer p {
    color: var(--main-link-hover);
    margin-right: var(--margin-l-r);
}

footer .content i {
    color: var(--heart-color);
}

footer button {
    position: fixed;
    bottom: 2rem;
    left: var(--margin-l-r);
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
    background: var(--main-txt);
    color: rgb(246, 246, 246);
    padding: .8rem;
    cursor: pointer;
    opacity: 0;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
}


/* @media screen and (max-width: 620px) {
    .text-cards {
        grid-template-columns: repeat(1, 1fr);
    }
} */

@media only screen and (max-width: 800px) {
    * {
        --margin-l-r: 5vw;
    }

    section#about i {
        font-size: 1.1rem;
    }


    header .logo .sec {
        display: none;
    }
}
@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

@-webkit-keyframes fluid {
    0%, 99% {
        border-radius: 30% 70% 66% 34%/30% 30% 70% 70%;
    }
    50% {
        border-radius: 58% 42% 42% 58%/50% 64% 36% 50%;
    }
}

@keyframes fluid {
    0%, 99% {
        border-radius: 30% 70% 66% 34%/30% 30% 70% 70%;
    }
    50% {
        border-radius: 58% 42% 42% 58%/50% 64% 36% 50%;
    }
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}





/*highlighting*/


/* Works on common browsers  */
::selection {
    background: var(--black);
    color: var(--white);
  }
  
  /* Mozilla based browsers  */
  ::-moz-selection {
    background: var(--black);
    color: var(--white);
  }
  
  /*  Other Browsers  */
  ::-o-selection {
    background: var(--black);
    color: var(--white);
  }
  
  ::-ms-selection {
    background: var(--black);
    color: var(--white);
  }
  
  /* Webkit Browsers */
  ::-webkit-selection {
    background: var(--black);
    color: var(--white);
  }


/* Scrollbar */




  
  /* Scrollbar for non-Firefox browsers */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  }
  
  *::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-thumb-border-radius);
    border: var(--scrollbar-thumb-border-width) solid var(--scrollbar-thumb-border-color);
  }
  
  *::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
  }
  
  /* Scrollbar for Internet Explorer/Edge */
  * {
    -ms-overflow-style: none;
  }
  
  *::-ms-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }
  
  *::-ms-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-thumb-border-radius);
    border: var(--scrollbar-thumb-border-width) solid var(--scrollbar-thumb-border-color);
  }
  
  *::-ms-track {
    background-color: var(--scrollbar-track-color);
  }
  
  *::-ms-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
  }
  
  /* Scrollbar for Firefox */
  * {
    scrollbar-width: thin;
  }
  
  *::-moz-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }
  
  *::-moz-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-thumb-border-radius);
    border: var(--scrollbar-thumb-border-width) solid var(--scrollbar-thumb-border-color);
  }
  
  *::-moz-scrollbar-track {
    background-color: var(--scrollbar-track-color);
  }
  
  *::-moz-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
  }
  
